{% extends 'index.html' %}

{% block head %}  
<title>Search student</title>
{% endblock  %}

    {% block body %} 
    <form action="/search-student" method="post">
        <h1>Enter Student ID </h1>
        <h3> <input type="text" name="sid" id="sid" value={{data[0]}}></h3>
        <h4><input type="submit"></h4>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">DOB</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Email</th>
            <th scope="col"> Qualification</th>
            <th scope="col">Stream</th>
        </tr>
    </thead>
        <tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
            <td>{{ data[4] }}</td>
            <td>{{ data[5] }}</td>
            <td>{{ data[6] }}</td>
            <td>{{ data[7] }}</td>
            <td>{{ data[8] }}</td>
            
            
        </tr>
        

    </table>
    <a href="/index" ><button type="button" class="btn btn-secondary">Home Page</button></a>

    {% endblock  %}